$blue: #585757;
$red: #DC000C;
$Yb:'YuGothic-Bold'; 
$Yr:'YuGothic-Regular'; 
$Dn:'DNI2014-DemiBold';
/*=================================btn -01===================================*/
.btn-red{
	color: $red;
	z-index: 1;
	padding: 23px 0;
	font-size: 16px;
	font-family: $Yb;
	border: 1px solid $red;
	position: relative;
	background: linear-gradient(to right, $red 50%, #fff 50%);
	background-position: right bottom;
	background-size: 200% 100%;
	transition:all .4s ease;
	border-radius: 70px;
	width: 300px;
	display: flex;
	justify-content: space-around;
	text-align:center;
	line-height: 1;
	&:hover {
    background-position: left bottom;
    color: #fff;
    span{
    	.a{
    		fill: #fff;
    	}
    }
  }
}
@media(max-width: 767px){
	.btn-red{
		width: 100%;
	}
}

/*=================================btn -02===================================*/
.btn-gradien{
	color: #fff;
	font-size: 16px;
	font-family: $Yb;
	background: transparent linear-gradient(270deg, #DC000C 0%, #EF7D84 100%) 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 0px #AD0E17;
	transition: all .4s ease-in-out;
	border-radius: 70px;
	padding:23px 0;
	width: 300px;
	text-align: center;
	transition:all .4s ease;
	display: block;
	position: relative;
	z-index: 2;
	&:hover{
		background: transparent linear-gradient(0, #DC000C 0%, #EF7D84 100%) 0% 0% no-repeat padding-box;
	    transition: all .4s ease-in-out;
		color: #fff;
	}
}
/*sub menu*/
.submenu-info ul li{
	background: linear-gradient(to right, $red 50%, #fff 50%);
	background-position: right bottom;
	background-size: 200% 100%;
	transition:all .4s ease;
	&:hover{
		background-position: left bottom;
    	a{
    		color: #fff;
    	}
    	.a{
			fill:#fff;
			transition:all .4s ease;
		}
		.b{
			fill: $red;
			transition:all .4s ease;
		}
	}
}


/*=================================btn -03===================================*/
.btn-blue {
	position: relative;
	display: block;
	width: 360px;
	max-width: 100%;
	height: 80px;
	line-height: 80px;
	color: #fff;
	background: linear-gradient(to right, #000 50%, #074098 50%);
	background-size: 200% 100%;
	background-position: right bottom;
	text-align: center;
	font-size: 16px;
	letter-spacing: 1.6px;
	font-weight: bold;
	text-align: center;
	transition: all .3s;
	&:hover {
		background-position: left bottom;
		color: #fff;
	}
}

/*=================================btn -04===================================*/
.btn-cic{
	background: linear-gradient(to right, $red 50%, #fff 50%);
	background-position: right bottom;
	background-size: 200% 100%;
	transition:all .4s ease;
	display: flex;
	width: 245px;
	height: 70px;
	border: 1px solid $red;
	border-radius: 4px;
	font-size: 16px;
	color: $red ;
	font-family: $Yb ;
	justify-content: space-around;
    align-items: center;
	&:hover{
		background-position: left bottom;
		color: #fff;
    	.a{
			fill:#fff;
			transition:all .4s ease;
		}
		.b{
			fill: $red;
			transition:all .4s ease;
		}
	}
	span{
		margin-top: 5px;
	}
}

/*icon*/
.pdf{
	position: relative;
	&:before{
		position: absolute;
	    content: "";
	    width: 12px;
	    height: 14px;
	    background: url(../images/top/icon_pdf.svg) no-repeat center;
	    top: 0;
	    bottom: 0;
	    padding-left: 30px;
	    margin: auto;
	}
}

/*hover text*/
a{
	transition: .3s all;
	&:hover{
		color: #0066ce;
	}
}

/*==========================link tag==================================*/
/*link*/
.link-cic, .link-brank, .link-pdf, .link-excel{
	color: $red;
	font-size: 12px;
	font-family: $Yr;
	position: relative;
	display: block;
	transition: 0.4s all;
	&:after{
		position:absolute;
		content: "";
		width: 10px;
		height: 10px;
		background: url('../images/news/textlink.svg') no-repeat center;
		top: 0;
	    bottom: 0;
	    margin: auto;
	    padding-right: 30px;
	}
}
.link-cic{
	&:hover{
		color:#585757;
		transform: translate3d(10px, 0px, 0);
		&:after{
			background: url('../images/news/textlink-blue.svg') no-repeat center;
		}
	}
}
.link-brank{
	&:after{
		background: url('../images/news/brank-icon.svg') no-repeat center;
	}
}
.link-brank{
	&:hover{
		color:#585757;
		transform: translate3d(10px, 0px, 0);
		&:after{
			background: url('../images/news/brank-icon-blue.svg') no-repeat center;
		}
	}
}
.link-pdf{
	&:after{
		width: 8px;
		height: 10px;
		background: url('../images/news/file-pdf.svg') no-repeat center;
	}
}
.link-pdf{
	&:hover{
		color:#585757;
		transform: translate3d(10px, 0px, 0);
		&:after{
			background: url('../images/news/file-pdf-blue.svg') no-repeat center;
		}
	}
}
.link-excel{
	&:after{
		width: 8px;
		height: 10px;
		background: url('../images/news/file-excel.svg') no-repeat center;
	}
}
.link-excel{
	&:hover{
		transform: translate3d(10px, 0px, 0);
		color:#585757;
		&:after{
			background: url('../images/news/file-excel-blue.svg') no-repeat center;
		}
	}
}

/*search input*/
.section-intro--search-form{
	position: relative;
	::placeholder{
		color:red;
	}

}
.search{
    position: relative;
    background:black ;
    height: 50px;
    border-radius: 40px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:hover{
    	> .search-txt{
    		width: 500px;
		    padding: 0 10px;
		    color: #fff;
		    font-family: $Yr;
    	}
    	> .search-btn{
    		background: #fff;
    	}
    }
}
.search-btn{
    color: red;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background:#ABB2B9 ;
    position: relative;
    &:before{
    	position: absolute;
    	content: "";
    	width: 15px;
    	height: 15px;
    	background: url('../images/search-icon.svg') no-repeat;
    	top: 12px;
    	left: 12px;
    }
}
.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color:#fff ;
    font-size: 16px;
    transition: ease-in 0.4s;
    line-height: 40px;
    width: 400px;
    font-family: $Yr;
}
/*hover btn*/

.c-more-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 100;
    text-decoration: none
}
@media all and (min-width:768px) {
    .c-more-button {
        height: 80px
    }
}

@media all and (min-width:1025px) {
    .c-more-button {
        width: 80%
    }
}

@media all and (min-width:768px) and (max-width:1024px) {
    .c-more-button {
        width: 100%
    }
}

@media all and (max-width:767px) {
    .c-more-button {
        width: 100%;
        height: 60px;
        margin-top: 20px
    }
}

@media all and (min-width:768px) {
    .c-more-button--member {
        width: 100%
    }
}

.c-more-button__label {
    position: relative;
    z-index: 1000;
    color: #a7b4bf;
    text-transform: uppercase;
    letter-spacing: .1em
}

@media all and (min-width:1025px) {
    .c-more-button__label {
        font-size: 16px;
        font-size: 1rem
    }
}


.c-more-button__line:after,
.c-more-button__line:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 100;
    background-color: #c3ccd4
}

.c-more-button__line:before {
    width: 100%;
    height: 8px
}

.c-more-button__line:after {
    width: 8px;
    height: 100%
}

@media all and (max-width:767px) {
    .c-more-button__line:before {
        height: 4px
    }

    .c-more-button__line:after {
        width: 4px
    }
}

.c-more-button__line--01:after,
.c-more-button__line--01:before {
    top: 0;
    right: 0
}

.c-more-button__line--02:after,
.c-more-button__line--02:before {
    bottom: 0;
    left: 0
}

.c-more-button__label {
    -webkit-transition: .5s;
    transition: .5s
}

.c-more-button__line:after,
.c-more-button__line:before {
    -webkit-transition: .35s;
    transition: .35s
}

.c-more-button.is-over .c-more-button__label {
    color: #fff;
    letter-spacing: .2em
}

.c-more-button.is-over .c-more-button__line:before {
    height: 50%
}

.c-more-button.is-over .c-more-button__line:after {
    width: 50%
}
/*hover run out*/


.recruit__link {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 250px;
    height: 60px;
    border: 1px solid #937f53;
    background-color: #FFF;
    font-size: 13px;
    letter-spacing: 0.4em;
    text-align: center;
    text-decoration: none;
    color: #917c50;
    margin: 20px auto 0;
    -webkit-transition: color 0s linear;
    transition: color 0s linear;
    -webkit-transition-delay: .05s;
    transition-delay: .05s
}

.recruit__link span {
    font-family: "Halant", serif;
    font-weight: 300;
    -webkit-transform: scaleY(0.9);
    transform: scaleY(0.9);
    -webkit-transform-origin: center;
    transform-origin: center;
    display: inline-block;
    display: block;
    position: relative;
    z-index: 1
}

.recruit__link:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #917c50;
    z-index: 0;
    -webkit-transform-origin: right center;
    transform-origin: right center;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1)
}

.recruit__link:hover {
    -webkit-animation: hoverColorChange .8s;
    animation: hoverColorChange .8s;
    -webkit-animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1)
}

.recruit__link:hover:before {
    -webkit-animation: hoverWipe .8s;
    animation: hoverWipe .8s;
    -webkit-animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1)
}

@keyframes hoverColorChange {
    0% {
        color: #917c50
    }

    50% {
        color: #FFF
    }

    75% {
        color: #917c50
    }
}

@keyframes hoverWipe {
    0% {
        -webkit-transform-origin: left center;
        transform-origin: left center;
        -webkit-transform: scaleX(0);
        transform: scaleX(0)
    }

    50% {
        -webkit-transform-origin: left center;
        transform-origin: left center;
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }

    50.001% {
        -webkit-transform-origin: right center;
        transform-origin: right center;
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }

    100% {
        -webkit-transform-origin: right center;
        transform-origin: right center;
        -webkit-transform: scaleX(0);
        transform: scaleX(0)
    }
}
