.company-table{
	margin-bottom: 80px;
	&.table-bordered td, &.table-bordered th{
		padding: 16px 20px;
	}
}
.acsset-company{
	margin-bottom: 100px;
	.desc{
		line-height: 1.8;
	}
}
@media(max-width: 767px){
	.company-table{
		tr{
			display: block;
			th{
				width: 100%;
				display: block;
			}
			td{
				display: block;
			}
		}
	}
}